* {
  font-weight: bold;
}

.main {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

form>input {
  margin: 0 auto;
  width: 40%;
  padding: 10px;
  outline: none;
  border-radius: 6px;
}

form>label {
  margin: 0 auto;
  font-size: 22px;
  margin-top: 15px;
}

.inputButton {
  cursor: pointer;
  border: 2px solid #042940;
  margin: 20px 0;
  background-color: transparent;
  color: black;
  transition: 1s all;
}

.inputButton:hover {
  color: white;
  transform: scale(1.05);
  background-color: #042940;
}