* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #eeeeee;
}
.navegationGames {
  height: 20vh;
  margin: 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navegationGames a {
  width: 150px;
  height: 50px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #042940;
  text-decoration: none;
}
.selectionInformation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.selectionInformation img {
  margin-right: 1rem;
  width: 220px;
  height: 220px;
}
.selectionInformation div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.qualifyingGames,
.finalGames {
  width: 65vw;
  height: 20vh;
  margin: 1rem auto;
  border-radius: 12px;
  background: #ffffff;
}
.qualifyingGames {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.game,
.gameNone {
  width: 10vw;
  height: 10vh;
  padding-top: 1rem;
  border-radius: 8px;
  text-align: center;
  background: #d9d9d9;
}
.gameNone {
  display: none;
}
.moreAboutTheGames {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.moreAboutTheGames > h1 {
  margin: 1rem 0;
}
.moreAboutTheGames > button {
  width: 10vw;
  height: 5vh;
  outline: none;
  border-radius: 8px;
  color: white;
  background: #042940;
}
.finalGames {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Finalgame {
  width: 10vw;
  height: 10vh;
  padding-top: 1rem;
  border-radius: 8px;
  text-align: center;
  background: #d9d9d9;
}
@media (max-width: 800px) {
  .navegationGames {
    flex-direction: column;
    margin-bottom: 8rem;
  }
}
